

.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-content {
    width: 400px;
    padding: 90px;
    border: 5px solid #ccc;
    border-radius: 10px;
    background-color: black;
  }
  
  .success-message {
    color: green;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
 
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2rem;
  }
  
  .forgot-password-input {
    padding: 16px;
    margin-bottom: 15px;
    font-size: 18px;
    border: 5px solid #ccc; 
    border-radius: 6px;
    width: 100%;
  }
  
  
  .forgot-password-button {
    padding: 18px;
    background-color: rgb(126, 69, 69);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 60%;
    margin-left: 3.9rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: -1rem;
  }
  
  .forgot-password-button:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
  }
  
  .forgot-password-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  